.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    
}

body{
    background-color: #f1e6d1;
}
.discription_h3{
    font-size: 3rem;
}

.carousel-caption h3 {
    color: black; /* Adjust the color as needed */
    font-size: 3rem;
}
.carousel_blur{
    opacity: 0.7;
}
.descriptions-h2 {
    font-size: 2.5rem; /* Responsive size */
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.line{
    border: 1px solid rgb(168, 21, 21);
    margin-top: 5%;
}
.btn{
    background-color: rgb(74, 39, 39);
    border-color: rgb(74, 39, 39) ;
    color: white;
}
.btn:hover{
    background-color: #ab9494;
    border-color: #ab9494;
    color: white;
}

.mtop{
    margin-top: 10%;
}
.active{
    margin-bottom: 5%;
}
.mtop2{
    margin-top: 5%;
}